main {
  background-color: #9FC075;
  height: 100vh;
}

#app {
  background-color: #9FC075;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

button {
  border-radius: 12px;
  border: 1px solid black;
  opacity: 0.8;
}

#navbar {
  text-align: center;
}

#logo {
  height: 25vh;
}

#navlinks {
  text-align: right;
  text-decoration: none;
}

#user-profile {
  width: 80vw;
  margin: 10px 10vw;
  background-color: #C1C0C0;
  align-items: center;
}  

#user-img {
  height: 35vh;
}

#user-header {
  display: flex;
  align-items: center;
  margin: 15v;
  padding: 15px;
}

#orders-list {
  margin: 5vh 15vh;
  padding: 10vh;
  background-color: rgb(226, 231, 229);
}

#all-products-container {
  background-color: #C1C0C0;
}

#plant-card {
  background-color: rgb(226, 231, 229);
}

#login-or-signup {
  background-color: #C1C0C0;
  padding: 40px;
  width: 60vw;
  /* height: 60vh; */
  margin: auto 20%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
 
#login-foot {
  background-color: #9FC075;
  height: 20vh;
}

#welcome {
  font-size: 3em;
  margin: auto 10px;
}

#wel-subtitle {
  margin: auto 12px 30px 12px;
}

#login-form {
margin: 5px auto 20px auto;  
}

#login-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#login-header {
  font-size: 18px;
  margin: auto 12px;
} 

#signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signup-flex {
  display: flex;
  flex-direction: column;
}

.signup-div {
  margin: 3px;
}












/*
  STYLING PRIORITIES (TIME-DEPENDENT):
  1. cards on all products
  2. single card -> sizing, colors, text, etc
  3. Navbar - links & logout button

*/